* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  margin: 20px auto 0 auto;
  width: 90%;
  max-width: 1200px;
  transition: all;
}

.containerLight {
  background-color: #292F36;
  color: #FEFFFE;
}

.containerDark {
  background-color: #282828;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
}

.profile p {
  margin-left: 10px;
  font-family: Inter, sans-serif;
}

.settings {
  font-size: 1.5rem;
}

.lang {
  font-size: 2rem;
  cursor: pointer;
}

.langDark {
  color: #FEFFFE;
}

.langDark:hover {
  color: #A020F0;
  filter: drop-shadow(0 0 6px #a73de8);
}

.langLight {
  color: #FEFFFE;
}

.langLight:hover {
  color: #5ee229;
  filter: drop-shadow(0 0 6px #51CB20);
}

.theme {
  font-size: 2rem;
  margin-left: 20px;
  cursor: pointer;
}

.themeLight {
  color: white;
}

.themeLight:hover {
  color: #5ee229;
  filter: drop-shadow(0 0 6px #51CB20);
}

.themeDark {
  color: #FEFFFE;
}

.themeDark:hover {
  color: #A020F0;
  filter: drop-shadow(0 0 6px #a73de8);  
}

.gear {
  font-size: 2rem;
  margin-left: 20px;
  color: #FEFFFE;
  cursor: pointer;
}

.gearLight {
  color: white;
}

.gearLight:hover {
  color: #5ee229;
  filter: drop-shadow(0 0 6px #51CB20);
}

.gearDark {
  color: white;
}

.gearDark:hover {
  color: #A020F0;
  filter: drop-shadow(0 0 6px #a73de8);  
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  .profile p {
    margin-left: 5px;
    font-size: 0.9rem;
  }
}