* {
    padding: 0;
    margin: 0;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 30px;
    border-radius: 2rem;
    transition: transform 0.8s ease-in-out;
    transform: scale(1);
}

.fullTimerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    z-index: 1000;
    transform: scale(2);
    transition: transform 0.8s ease-in-out;
}

.fullTimerContainer p {
    font-size: 3rem;
    font-family: inter, "san-serif";
    margin-bottom: 20px;
}

.timerContainer p {
    font-size: 3rem;
    font-family: inter, "san-serif";
    margin-bottom: 20px;
}

.btns {
    display: flex;
    gap: 20px;
}

.btns button {
    border: 3px solid transparent;
    padding: 20px;
    border-radius: .9rem;
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    min-width: 100px;
    transition: all 0.25s ease;
}

.startBtn {
    background-color: #60E62B;
}

.startBtn:hover {
    background-color: #51CB20;
    border: 3px solid #9DFF70;
    cursor: pointer;
}

.endBtn {
    background-color: #E63946;
}

.endBtn:hover {
    background-color: #C62828;
    border: 3px solid #FF6B6B;
    cursor: pointer;
}

.PauseBtn {
    background-color: #B4B8C5;
}

.PauseBtn:hover {
    background-color: #4C5B5C;
    border: 3px solid #E9EBF8;
    cursor: pointer;
}

.ResumeBtn {
    background-color: #5cb85c;
}

.ResumeBtn:hover {
    background-color: #449d44;
    border: 3px solid #77e677;
    cursor: pointer;
}